@import "@/sass/variables";

// SETTING FONT SIZE AS 10px
html {
  font-size: 62.5%;
}

// CSS RESET
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

body {
  box-sizing: border-box;
  background-color: $col-white;
  color: $col-gray;
}

main {
  position: relative;
  overflow-x: hidden;
}

button,
a:link,
a:visited {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  background-color: transparent;
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

fieldset {
  border: none;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body:has(main.modal--open) {
  overflow: hidden;
}

p,
span,
time {
  font-family: $font-family-text;
  font-size: $font-size-text-lg;
}

h1,
h2,
h3,
h4,
h5,
nav {
  font-family: $font-family-header;
  font-size: $font-size-header-lg;
}
